@{
    Layout = "_Layout";
}

<script src="~/js/particles.js"></script>
<div id="particles-js"></div>

<script>
    particlesJS.load('particles-js', 'js/particles.json', function () {
        console.log('callback - particles.js config loaded');
    });</script>